<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
</head>

<body ng-app="ShopApp" ng-controller="ShopCtrl">
    <!-- Navigation -->
    
    <!-- /.container -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GeoAmazon</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <% if (!userName) { %>
                    <li>
                        <a href="/register">Registration</a>
                    </li>
                    <li>
                        <a href="/LogIn">Log In</a>
                    </li>
                    <% } else {%>
                    <li>
                        <a href="/my-account">My Account</a>
                    </li>
                    <li>
                        <a href="/LogOut">Log Out</a>
                    </li>
                    <% } %>
                </ul>
                <% if (!session.cart) { cartLength=0;} else {cartLength=session.cart.products.length;}  %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> <%= cartLength %> - Items<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                        <% if (session.cart) { 
                            session.cart.products.forEach(function(prod) { %>
                            <li>
                                <span class="item">
                                    <span class="item-left">
                                        <img src="<%= prod.image %>" alt="" width="50px" height="50px"/>
                                        <span class="item-info">
                                            <span><%= prod.name %></span>
                                            <span><%= prod.price %> x <%= prod.quantity %></span>
                                        </span>
                                    </span>
                                    <!--<form action="/remove" method="post">
                                    <span class="item-right">
                                        <button class="btn btn-xs btn-danger pull-right" name="remove" value="<%= prod.id %>./">x</button>
                                    </span>
                                    </form>-->
                                </span>
                            </li>
                        <% });
                        } %>
              
             
                            <li class="divider"></li>
                            <li><a class="text-center" href="/view-cart">View Cart</a></li>
                        </ul>
                    </li>
                </ul>
                
        </div>
            
        
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <% if (user) { %>
      <div class="container">

        <div class="row">

            <div class="col-md-3">
               
            </div>
            <div class="col-md-9">
                <div class="row">
                    <form role="form" action="/update-info" method="post">
                        <div class="col-lg-6">
                            <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                                <div class="form-group">
                                    <label for="InputName">Enter Name</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" value=<%=user.name %> required>
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                            </div>
                                </div>
                                <div class="form-group">
                                    <label for="surname">Enter Surname</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="surname" name="surname" placeholder="surname" value="<%= user.surname %>" required>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">ID Number</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="InputEmailSecond" name="idNumber" placeholder="ID Number" required value="<%=user.idNumber %>">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">Email</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="InputEmailSecond" name="email" placeholder="Email" value="<%=user.email %>" required>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputEmail">Mobile</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="InputEmailSecond" name="mobile" placeholder="Mobile" required value="<%= user.mobile %>">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                        </div>
                                </div>
                                <div>
                                    <a class="btn btn-info pull-left" href="/my-account">Back To My Accound</a>
                                    <input type="submit" name="submit" id="submit" value="Update" class="btn btn-info pull-right">
                                </div>
                    </form>
                </div>
            </div>
        </div>
    <% } %>
    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Anri Morchiladze</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
